<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="show_product" data-view="Graph" data-title="Show Product" style="background-color:#ff9618"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="login_user" data-view="Graph" data-title="Login User" style="background-color:#ff9618"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="send_spam" data-view="Graph" data-title="Send spam" style="background-color:#ff9618"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="browse_catalog" data-view="Graph" data-title="Browse Catalog" style="background-color:#ff9618"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="create_user" data-view="Graph" data-title="Create User" style="background-color:#ff9618"></div>
    </li>

  </ul>
</div>
